@use '../../../config/colors.scss';
@use 'sass:math';

@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

#reviews {
    background-color: colors.$b-light;

    .cards {
        display: flex;
        column-gap: converter(16);

        .card-reviews {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: converter(16);
            background-color: colors.$gray-light;
            border-radius: converter(24);
            padding: converter(24) converter(16);

            .title-card {
                display: flex;
                align-items: center;
                column-gap: converter(12);

                >img {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                }
            }
        }

    }

    .bullets {
        margin-top: converter(16);
        display: flex;
        justify-content: center;
        column-gap: converter(8);

        .bullet {
            width: converter(16);
            height: converter(16);
            background: colors.$b-medium;
            border-radius: 50%;

            &.selected {
                background: colors.$b-medium-dark;
            }
        }
    }
}