@use '../../config/colors.scss';
@use 'sass:math';

@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

@media screen and (min-width: 360px) {
    header {
        max-width: 100dvw;
        width: 100%;
        height: converter(88);
        position: fixed;
        top: 0;
        left: 0;
        background-color: colors.$b-light;
        z-index: 50;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        padding: 0 converter(24);

        .status_bar {
            display: none;
        }

        .brand {
            grid-column: 1;
            align-self: center;
        }

        nav {
            display: flex;
            position: absolute;
            top: 94px;
            left: -100%;
            width: 100dvw;
            padding: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: all 0.5s ease-in-out;

            ul {
                background-color: colors.$b-light;

                li {
                    padding: 2rem 7.4rem;
                    font-size: 1.25rem;
                    width: 100%;
                    text-transform: uppercase;

                    a {
                        color: colors.$g-dark;
                    }

                    &.selected {
                        background-color: colors.$b-medium;

                        &:hover {
                            background-color: colors.$b-medium;
                        }
                    }

                    &:hover {
                        background-color: colors.$b-medium-dark;
                    }
                }
            }

            &.active {
                left: 0%;
            }
        }

        #btn_zap {
            display: none;
        }

        #menu_burguer {
            grid-column: 4;
            align-self: center;
            justify-self: end;

            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0.25rem;
            width: 3rem;
            padding: 0.25rem 0.5rem;

            background: none;
            border: none;


            span {
                width: 100%;
                background: #000;
                height: 4px;
                transition: all 0.5s;

                &:nth-child(1) {
                    border-bottom-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    background: colors.$g-dark_2;
                }

                &:nth-child(2) {
                    border-bottom-right-radius: 0.25rem;
                    border-top-left-radius: 0.25rem;
                    background: colors.$g-dark;
                }

                &:nth-child(3) {
                    border-bottom-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    background: colors.$g-dark_2;
                }
            }

            &.active {
                span {
                    &:nth-child(2) {
                        width: 0;
                        opacity: 0;
                    }

                    &:nth-child(1) {
                        transform: rotate(45deg) translate3d(4px, 7px, 0);
                        background: red;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate3d(4px, -7px, 0);
                        background: red;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 545px) {
    header {
        nav {
            ul {
                width: 100%;
            }
        }
    }
}